<section class="h-dvh">
    <div class="h-20 w-full"></div>

    <div class="max-w-3xl grid grid-cols-1 sm:grid-cols-2 m-auto items-center h-[80vh]">   
        <div class="p-4">
            <h2 class="text-3xl mb-4"> <%= formTitle %> <sub class="text-purple-700">io</sub></h2>

            <% if(!confirmPassword) { %>
                    <p class="mb-10">Faça login para usar o gerenciamento de contatos!</p>
            <% } else { %>
                    <p class="mb-10">Crie uma conta. Para nós é importante!</p>
            <%   } %>

            <form action=<%= formUrl %> method="post" class="m-auto flex flex-col">
                <label for="email" class="pb-2">Digite seu email:</label>
                <input autocomplete="off" type="email" name="email" id="email" class="border-2 h-8 pl-1">
                    
                <label for="password" class="pb-2 mt-6">Digite sua senha:</label>
                <input type="password" name="password" id="password" class="border-2 h-8 pl-1">

                <% if(confirmPassword) { %>
                    <label for="confirmPassword" class="pb-2 mt-6">Confirme sua senha:</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="border-2 h-8 pl-1">
                <% } %>

                <input type="submit" name="" id="" class="font-medium mt-10 bg-purple-700 text-white p-2.5 rounded-xs hover:bg-purple-800 cursor-pointer" value=<%= buttonText %>>

                <% if(!confirmPassword) { %>
                        <p class="mt-4">Não possui uma conta? <a href="/login/cadastro" class="text-purple-700 underline">Crie uma!</a></p>
                <% } else { %>
                        <p class="mt-4">Já possui uma conta? <a href="/login" class="text-purple-700 underline">Faça login</a></p>
                <%  } %>

            </form>

            <p class="mt-8">&copy; <span id="copyYear"></span></p>
        </div>

        <div class="hidden sm:flex">
            <img src=<%= figureUrl %> alt="geometric figure">
        </div>
    </div>
</section>