<nav class="bg-white fixed py-4 top-0 right-0 left-0 px-2">
    <div class="bg-white max-w-3xl flex mx-auto justify-between">
        <h1 class="font-medium text-3xl flex items-center"><a href="/">Agenda.<strong class="text-purple-700">io</strong></a></h1>
        
        <ul class="grid grid-cols-2 gap-2 items-center">
            <li class="text-center">
                <a href="/">Home</a>
            </li>
                <%  if(!user) {%>
                        <a href="/login" class="hover:bg-purple-800 rounded-sm p-1 px-3 hover:text-white border-purple-800 border-2 text-purple-800 font-medium">Entrar</a>
                <%  } else { %>
                        <a href="/login/logout" class="hover:bg-red-800 rounded-sm p-1 px-3 hover:text-white border-red-800 border-2 text-red-800 font-medium">Sair</a>
                <%  }  %>
            </li>
        </ul>
    </div>
</nav>