<nav class="bg-white fixed flex max-w-3xl mx-auto justify-between py-4 top-0 right-0 left-0 px-2">
    <h1 class="font-medium text-3xl flex items-center"><a href="/">Agenda.<strong class="text-purple-700">io</strong></a></h1>
    
    <ul class="grid grid-cols-2 gap-2 items-center">
        <li class="text-center">
            <a href="/">Home</a>
        </li>
            <a href="/login" class="hover:bg-purple-800 rounded-sm p-1 px-3 hover:text-white border-purple-800 border-2 text-purple-800 font-medium">Entrar</a>
        </li>
    </ul>
</nav>